
	html{
	min-height: 100%;
	
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	color:#000;
	}
	a{
		text-decoration: none;
		color: #000;;
		border: 0;
		}
	body{
	margin: 0;
	padding: 0;
	}
	h1{
	margin-top: 0;
	}
	h1,h2,h3,h4,h5 p{
	color: #000;
	margin: 0;
	}
	img{
	border: 0;
	}



	/* Header */

	.header {
	}
	.header_page1 {
		background: no-repeat  url("../img/Page1/HeaderBack.png");
		max-width: 100%;
		background-size: cover;
		background-position: center;

		/* display: flex;
		flex-direction: column; */

		padding-top: 3.57em;

	}
	.header_box {
		margin: auto;
		width: 80%;
	}
	.nav {
		display: flex;
		align-items: center;
		background-color: #fff;
		justify-content: center;
	}
	.nav_logo {
		font-size: 20px;
	}

	.nav_logo span {
		color:#E7C13C;
	}
	.nav_links {
		margin:2em;
	}
	.nav_link {

		font-family: Arial, Helvetica, sans-serif;
		font-size: 15px;
		text-transform: uppercase;

		margin-right: 2.5em;
	}
	.nav_link:last-child {
		margin: 0;
	}
	.nav_link:hover,
	.gmail:hover,
	.phone:hover {
		color: #f66d52; /* Цвет сылки */
		font-weight: 400;
		text-decoration: none;
		position: relative;
		display: inline-block;
	}
	.nav_link:before, 
	.gmail::before,
	.phone::before {
		content: '';
		position: absolute;
		width: 100%;
		background: #666; /* Цвет зачеркивающей линии */
		top: 45%;
		animation: out 0s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
	}
		.nav_link:hover, .nav_link:before,
		.phone:hover, .phone:before,
		.gmail:hover, .gmail:before {
			animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
		}
	.nav_block {
		display: flex;
		flex-direction: column;
	}
	.translate{
		padding: 0;
		background-color: transparent;
		margin-left: 5px;
		border: 0;
	}
	.translate:hover{
		cursor: pointer;
	}
	
	.phone {
	}
	.gmail {
	}
	.header_description {
		display: flex;
		flex-direction: column;

		padding-bottom: 15.5em;
	}
	.header_description_block {
		justify-content: right;
	}
	.header_title {
		font-size: 30px;
		
		text-align: left;

		color: #E7C13C;
	}
	.header_subtitle {
		font-size: 30px;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		color: #ccc;

		display: flex;
		flex-direction: column;
		text-align: left;

		margin: 5px 0 10px	;

	}
	.header_btn {
		font-size: 23px;
		font-family: Arial, Helvetica, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		width: 140px;
		height: 45px;
		line-height: 45px;
		border-radius: 45px;
		margin: 10px 20px;
		font-family: 'Montserrat', sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 3px;
		font-weight: 600;
		color: #524f4e;
		background: white;
		box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
		transition: .3s;

		margin: 0;
	}
	.header_btn:hover {
		background: #2EE59D;
		box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
		color: white;
		transform: translateY(-3px);
	}


	/* Main */

	.main {
		margin: 0 auto;
		width: 80%;
	}
	.servise_maintitle {
		color: 323232;

		text-transform: uppercase;
		font-size: 30px;
		text-align: center;

		padding: 5% 0 ;
	}
	.service_groups {
	}
	.hover-effect-cover {
		list-style:none;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		padding: 0;
  }
  .hover-effect-cover li {
		position: relative;
		width: 100%;
		height: auto;
		display: inline-block;
		background-color: #fff;
		margin: 0;
		border: 5px solid #fff;
		box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
		overflow: hidden;
  }
  .hover-effect-cover img {
	width: 100%;
	height: auto;
  }
  .hover-effect-cover li h3{
		color: #fff;
		margin: 5px;
  }
  .hover-effect-cover li p{
		color: #fff;
		margin: 5px;
  }
  .hover-effect-cover li a {
		display: block;
		text-decoration: none;
		padding: 15px;
		color: #fff;
		background: #000;
		border-radius: 5px;
		margin: 0 auto;
		transition: all 0.4s ease-in-out;
  }
  .hover-effect-cover li a:hover {
		background: #454545;
		color: #fff;
  }
  .hover-effect-cover li > div.effect-to-top {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.3em;
}
.hover-effect-cover li:hover > div.effect-to-top {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.hover-effect-cover li div.effect-to-top {
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.3); 
	transition: all 0.4s ease-in-out;
	color: #fff;
}
.hover-effect-cover li:hover div.effect-to-top {
	opacity: 1;
	transform: translate(0px, 0px) rotate(0deg);
}

	/* Footer */

	.footer {
		background-color: #3A3B42;
	}
	.footer_box {
		margin: 0 auto;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 75px 0;
	}
	.footer_logos {
	}
	.footer_logo1 {
		color:#ccc;
		color: white;
		font-size: 20px;
	}
	.footer_logo1 span{
		color:#E7C13C;
	}
	.footer_logo2 {
	}
	.footer_nav {
		display: flex;
		align-items: flex-start;
	}
	.footer_nav_block {
		margin-right: 50px;

		font-family: Arial, Helvetica, sans-serif;
		color: #fff;
	}
	.footer_nav_block:last-child {
		margin-right: 0;
	}
	.footer_socials {
	}
	.social_email {
		color: #E7C13C;
		font-size: 18px;

		margin: 0 0 10px;
	}
	.social_number {
		margin: 0;
	}

	.menu-btn {
		display: none;

	}
	.menu {
		display: none;
	}



/* Media */

@media screen and  (max-width: 1001px) {
   .nav{

	}
	.nav_links {
		display: none;
	}
	.nav_block {
		display: none;
	}
	.nav_logo{
		margin:2em;
		text-align: center;
	}
	.menu-btn {
		display: block;

	}
	.menu {
		display: block;
	}
	header {
		/* display: flex;
		justify-content: flex-end; */
	}
	.header_page1{
		padding-top: 15px;
	}
	img{
		filter: none !important;
	}
	.menu-btn {
		width: 30px;
		height: 30px;
		position: relative;
		z-index:2;
		overflow: hidden;
		position: absolute;
		order: 999;
		right: 15px;
		top: 15px;
	}
	
	.menu-btn span {
		width: 30px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #000;
		transition: all 0.7s;
	}
	
	.menu-btn span:nth-of-type(2) {
		top: calc(50% - 5px);
	}
	.menu-btn span:nth-of-type(3) {
		top: calc(50% + 5px);
	}
	
	.menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 30%;
		height: 100%;
		padding: 15px;
		background-color: #fff;
		transform: translateX(-100%);
		transition: transform 0.5s; 
	}
	
	.menu.active {
		transform: translateX(0);

	}
	.active{
		position: absolute;
		z-index: 1;
	}
	.menu a{
		border-bottom: 1px solid #ccc;
		padding-bottom: 6px;
		
		font-family: Arial, Helvetica, sans-serif;
		font-size: 16px;
		text-transform: uppercase;
	}
	.menu li{
		margin-bottom: 40px;
	}
	
	.menu li {
		list-style-type: none;
	}
	
	.menu-btn.active span:first-of-type {
		transform: translateX(100%);
	}
	
	.menu-btn.active span:nth-of-type(2) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	
	.menu-btn.active span:nth-of-type(3) {
		top: 50%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}
	
}

@media screen and  (max-width: 630px) {

	.main_shortfshop{
		margin-top: 15px;
	}
	.ourauto_boxs{
		flex-direction: column;
		align-items: stretch;
	}
	.ourauto_box{
		padding: 0;
		margin-bottom: 15px;

		border-left: 0;
		border-bottom: 1px solid #ccc;
	}
	.ourauto_box p{
		margin: 14px;
		text-align: center;
	}
	.footer_box{
		flex-direction: column;
	}
	.footer_box{
		flex-direction: column;
	}
	.main span{
		font-size: 1.2rem;
	}
}
